.footer-section {
	background: #1d1d1d;
	overflow: hidden;
}

.footer-widget h4 {
	margin-bottom: 55px;
}

.footer-widget ul {
	list-style: none;
}

.footer-widget ul li a {
	display: block;
	color: #fff;
	font-size: 14px;
	margin-bottom: 20px;
}

.footer-logo {
	float: left;
}

.footer-menu {
	float: right;
	list-style: none;
}

.footer-menu li {
	display: inline;
}

.footer-menu li a {
	display: inline-block;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	margin-left: 35px;
	padding: 10px 0;
}

.footer-menu li a:hover {
	color: #f3e830;
}

.footer-bottom {
	padding-top: 40px;
	overflow: hidden;
}

.footer-bottom .social {
	float: right;
	margin-left: 80px;
	padding-top: 7px;
}

.footer-bottom .social a {
	color: #fff;
	margin-left: 25px;
	padding: 5px 1px;
}
