/*Tracks*/

.tracks-heading{
	text-align: left;
	margin-bottom: 10px;
	margin-top:30px;
}

.tracks-heading > h2{
	font-size:32px;
}

.tracks-icon > div{
	margin-bottom: 20px;
	opacity:1;
    position: relative;
    transform: translateX(30px);
    transition: all 0.4s ease-in-out;
    overflow:hidden;
}