<!DOCTYPE html>
<html>
    <title>LNMHacks 2018</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
       <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
       
    <script type="text/javascript" src="bootstrap/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
     <script type="text/javascript" src="bootstap/js/main.js"></script>
        <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700,900" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- Owl Carousel -->
    <link type="text/css" rel="stylesheet" href="css/owl.carousel.css" />
    <link type="text/css" rel="stylesheet" href="css/owl.theme.default.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="contact1.css">
    <link rel='icon' type='image/png' href='img/lhlogo.png' />

    
<body>
    <!-- ============================================================================ -->
                                    <!--ContactInfo-->
<!-- ============================================================================ -->

<div class="container">
<div class="section-title">
                    <h2 class="title"><span>Contact</span> <span style="color: #dd0a37;">Info</span></h2>
                </div>
            

            <br><br>
<div class=' contact'>
    <div class="row">
         <div class="col-sm-4">
                    <div class="contact1">
                        <h3><span style="color: #dd0a37;"><i class="fa fa-map-marker" aria-hidden="true"></i>Address</span></h3>
                        <p>2635 Simons Hollow Road, NEW YORK</p>
                    </div>
                </div>

            <div class="col-sm-4">
                    <div class="contact1">
                        <h3><span style="color: #dd0a37;"><i class="fa fa-phone" aria-hidden="true"></i>Phone</span></h3>
                        <p>570-751-2415</p>
                    </div>
            </div>

                <div class="col-sm-4">
                    <div class="contact1">
                        <h3><span style="color: #dd0a37;"><i class="fa fa-envelope" aria-hidden="true"></i>Email</span></h3>
                        <a href="#">abc@gmail.com</a>
                    </div>
                </div>
    </div>
            



</body>
</html>
