<nav>
    <div class="ui secondary menu">
        <div class="item logo">
            <img class="icon" src="../public/img/lnmhacks2.png">
        </div>

        <div class="right menu">
            <a class="active item">
                ABOUT
            </a>
            <a class="item">
                TRACKS
            </a>
            <a class="item">
                FAQ
            </a>
            <a class="item">
                GALLERY
            </a>
            <a class="item">
                SPONSOR US
            </a>
        </div>
    </div>
</nav>