<section class="tracks">
  <article class="">
    <div class="tracks-heading">
      <h2>Tracks</h2>
    </div>
    <hr>
    <div class="ui grid tracks-icon">
        <div class="">
            <img alt="Internet of Things" border="0" src="images/tracks/iot.png" width="175">
        </div>
        <div class="">
            <img alt="FinTech" border="0" src="images/tracks/fintech.png" width="175">
        </div>
        <div class="">
            <img alt="Retail" border="0" src="images/tracks/retail.png" width="175">
        </div>
        <div class="">
            <img alt="Machine Learning" border="0" src="images/tracks/ml.png" width="175">
        </div>
        <div class="">
            <img alt="Computer Vision" border="0" src="images/tracks/cv.png" width="175">
        </div>
        <div class="">
            <img alt="End Tech" border="0" src="images/tracks/edtech.png" width="175">
        </div>
    </div>                            
  </article>
</section>